#screen1, #screen2 { height: 100vh; }

#control {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 62%;
}

#wordAndDefinition {
    margin: auto;
    margin-top: 100px;
    width: 62%;
}

#wordToRepeat {
    font-size: 10vh;
    text-align: center;
}

#definition {
    font-size: 4vh;
    margin: auto;
}
